*.iml
*.iws
*.lcov
*.log
*.pid
*.pid.lock
*.seed
*.sublime-project
*.sublime-workspace
*.swo
*.swp
*.temp
*.tmp
*.tsbuildinfo
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.cache/
.env
.env.*.local
.env.development
.env.local
.env.production
.env.test
.idea/
.next/
.npm
.nuxt/
.nyc_output/
.parcel-cache/
.pnp.*
.pnpm-debug.log
.pnpm-store/
.serverless/
.vscode/
.vuepress/dist
.yarn/
Desktop.ini
Thumbs.db
build/
coverage/
dist/
ehthumbs.db
envs/
jspm_packages/
lerna-debug.log*
logs/
node_modules/
npm-debug.log*
out/
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
