*.lcov
*.log
*.temp
*.tmp
*.tsbuildinfo
*~
.DS_Store
.DS_Store?
.cache/
.env*
.idea/
.next/
.nyc_output/
.vscode/
build/
coverage/
dist/
envs/
logs/
node_modules/
out/
assets/docs/deployment-plan-*.md
