*.d.ts.map
*.db
*.js.map
*.log
*.sqlite
*.temp
*.tmp
*.tsbuildinfo
*~
.DS_Store
.cache
.env*
.idea
.pnpm-store
.vscode/
/.nyc_output
/build
/coverage
/dist
/node_modules
/playwright-report
/prisma/migrations/dev.db
/test-results
docker-compose.override.yml
logs
