*.d.ts.map
*.db
*.js.map
*.log
*.sqlite
*.swo
*.swp
*.temp
*.tmp
*.tsbuildinfo
*~
.DS_Store
.cache
.env
.env.*.local
.env.development
.env.local
.env.production
.env.test
.idea
.pnpm-store
.vscode/
.yarn/cache
.yarn/install-state.gz
/.nyc_output
/build
/coverage
/dist
/node_modules
/playwright-report
/prisma/migrations/dev.db
/test-results
Thumbs.db
docker-compose.override.yml
lerna-debug.log*
logs
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
