*.gen.*
*.generated.*
*.log
.cache
.env
.env.*
.idea
.next
.parcel-cache
.turbo
.vscode
/playwright-report
/test-results
CHANGELOG.md
build
coverage
dist
docs
node_modules
out
package-lock.json
pnpm-lock.yaml
public
static
yarn.lock
