!debug.keystore
!default.mode1v3
!default.mode2v3
!default.pbxuser
!default.perspectivev3
!package-lock.json
!yarn.lock
*.aab
*.apk
*.class
*.hmap
*.hprof
*.ipa
*.jks
*.key
*.keystore
*.lcov
*.lock
*.log
*.mobileprovision
*.mode1v3
*.mode2v3
*.moved-aside
*.orig.*
*.p12
*.p8
*.pbxuser
*.perspectivev3
*.xccheckout
*.xcuserstate
*~
.AppleDouble
.DS_Store
.LSOverride
.cache/
.classpath
.cxx
.cxx/
.env
.env*.local
.env.development
.env.production
.env.staging
.expo-shared/
.expo/
.externalNativeBuild
.gradle
.gradle/
.history/
.idea/
.metro-health-check*
.npm
.nyc_output
.pnpm-debug.log*
.project
.settings/
.vscode/
.yarn/build-state.yml
.yarn/unplugged
DerivedData/
Podfile.lock
build/
captures/
coverage/
dist/
expo-env.d.ts
ios/.xcode.env.local
ios/Pods/
local.properties
node_modules/
temp/
tmp/
web-build/
xcuserdata/
