**/public/fallback-*.js
**/public/sw.js
**/public/workbox-*
**/public/worker-*.js
*.lcov
*.tsbuildinfo
*~
.DS_Store
.env*
.eslintcache
.idea
.next
.nyc_output
.sentryclirc
.swc
.turbo
.vercel
.vscode/
build
coverage
dist
next-env.d.ts
node_modules
out
sentry.properties
